
header {
    background-color:#FDC95A;
    border: 0.063em solid black;
  }


.barra-col{
    margin-left: 4%;
    display: flex;
    justify-content: space-between;

}

.nav-link{
    color: black;
    font-size: 20px;
}

.icon-person{
    color: white;
    font-size: 2.563em;
}

.icon-arrow{
    color: white;
    font-size: 2.5em;
}
  
.ul-nav {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;   
    position: absolute; /* La navegación se posiciona de forma absoluta dentro del contenedor */
    bottom: 0%; /* Ajusta la posición verticalmente según sea necesario */
    left: 0%; /* Ajusta la posición horizontalmente según sea necesario */
    overflow: hidden; 
    padding: 10px; /* Añade relleno alrededor del contenido de navegación */
    z-index: 1; /* Asegura que la navegación esté en la capa superior */
    background-color: rgba(253, 201, 90, 80%);
}

.ul-nav li{
    margin-left: 4em;
    margin-right: 4em;
}

.input-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 46px;
    max-width: 213px;
    width: 100%;
    border-radius: 50px;
   /* overflow: hidden;*/
    border: 1px solid black;
    background-color: white;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.input-box input{
    
    position: relative;
    height: 18px;
    width: 133px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align:left;
    padding: 0 16px;
    
}

.inputbox .search{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 21px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}


.search .search-icon{
    font-size: 18px;
    color: black;
    padding-right: 16px;
}

.btn-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDC95A;
    color: black;
    border: none;
    font-size: 1.25em;    
}

.botones-izq{
    display: flex;
    justify-content: center;
    color: black;
}