*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color:#FDC95A;
    border: 0.063em solid black;
    position: sticky;
    top: 0;
}


.main{
    padding-bottom: 20vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.iframeheader{
    width: 100%;
    height: auto;
    border-style: none;
}

.table-responsive{
    padding-top: 2vh;
}

footer{
    padding: 1em;
    margin-top: 5em;
    background-color: #FDC95A;

}
  
.red-social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25em;
    width: 2.25em;
    background-color: #fff;
    border-radius: 0.5em;
}
  
.whatsapp{
    margin-right: 1em;
}
  
.whatsapp i{
    font-size: 1.688em;
    color:#8D8BA7;
}

.instagram{
    margin-right: 1em;
}
  
.instagram i{
    font-size: 1.688em;
    color:#8D8BA7;
}