*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgba(255, 255, 255, 0.956);
}

header{
  top: 0;
  position: sticky;
  border-bottom: 0.063em solid black;
}

header .navbar{
  padding: 0;
}


.main{
  margin-top: 2em;
    padding-bottom: 20vh;
    padding-left: 5vh;
    padding-right: 5vh;
}



.table-responsive{
    padding-top: 2vh;
}





footer{
    padding: 1em;
    margin-top: 5em;
    background-color: #FDC95A;
  }
  
  .red-social{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 2.25em;
      width: 2.25em;
      background-color: none;
      border-radius: 0.5em;
  }
  
  .whatsapp{
    margin-right: 1em;
  }
  
  .whatsapp i{
    font-size: 1.688em;
      color:black;
  }
  
  .instagram i{
    font-size: 1.688em;
      /*color:#8D8BA7;*/
      color: black;
  }