.titulo-cajero h3{
    color: black;
  }

  .titulo-tabla { 

    text-align: center;

  }

  td {

    text-align: center;

  }
  
  .header-frame{
      width: 100%;
      height: auto;
  }
  
  .texto-grande {
      font-size: 1em; 
  }
  
  .texto-pequeno {
      font-size: 0.8em; 
  }
  
  .main{
      padding-bottom: 10vh;
      padding-left: 5vh;
      padding-right: 5vh;
  }
  
  .main h1{
      margin-bottom: 1em;
      text-align: center;
  }

 
  h5 {
    text-align: center;
  }

.form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.casilla{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.d-flex{

    justify-content: space-evenly;
}

  #header-popup{

    margin: 0px 0px 0px 0px;
    background-color: #FDC95A;
  }

  #modal::backdrop{

    background-color: rgba(0,0,0,.55);
  }
  
  footer{
      padding: 1em;
      margin-top: 5em;
      background-color: #FDC95A;
    }
    
    .red-social{
      display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25em;
        width: 2.25em;
        background-color: #fff;
        border-radius: 0.5em;
    }
    
    .whatsapp{
      margin-right: 1em;
    }
    
    .whatsapp i{
      font-size: 1.688em;
        color:#8D8BA7;
    }
    
    .instagram i{
      font-size: 1.688em;
        color:#8D8BA7;
    }