header{
    width: 100%;
    height: auto;
}
  
.carta-burger{
  max-width: 21.875em;
  max-height: 33.625em;
}

.card-img-overlay img{
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), black, rgba(0,0,0,0));
}

.menu a{
    font-size: 1em;
    color:black;
}

.titulos{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}



.icono-carro{
    font-size: 2.5em;
    color: black;
}

footer{
    padding: 1em;
    margin-top: 5em;
    background-color: #FDC95A;

  }
  
  .red-social{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 2.25em;
      width: 2.25em;
      background-color: #fff;
      border-radius: 0.5em;
  }
  
  .whatsapp{
    margin-right: 1em;
  }
  
  .whatsapp i{
    font-size: 1.688em;
      color:#8D8BA7;
  }
  
  .instagram i{
    font-size: 1.688em;
      color:#8D8BA7;
  }